name: Test

on:
  push:
    branches: [main, maint/*]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v4
      - run: uv tool install nox
      - run: nox -s test
